@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@theme {
  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.5rem;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 3.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1.1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --radius-4xl: 2rem;

  --font-sans: var(--font-inter);
  --font-display: var(--font-lexend);

  --container-2xl: 40rem;

  --color-tlahtolli-primary:   #FF6F61; /* botones principales, acentos */
  --color-tlahtolli-secondary: #E4574E; /* hovers, texto importante */
  --color-tlahtolli-cream:     #FFE3D8; /* fondos suaves */
  --color-tlahtolli-light:     #FFF7F4; /* inputs, tarjetas */
  --color-tlahtolli-accent:    #FFA38C; /* detalles sutiles */
  --color-tlahtolli-border:    #F99D91; /* líneas, bordes */
  --color-tlahtolli-text:      #3D3D3D; /* texto principal */
  --color-tlahtolli-muted:     #707070; /* texto secundario */
  --color-tlahtolli-success:   #6BCB77; /* estados positivos */
  --color-tlahtolli-warning:   #FFD166; /* advertencias */
  --color-tlahtolli-error:     #E76A6A; /* errores */
}
